// $tileRoot = 'https://hydragames.neocities.org/assets/images/World_A2.png'
// $tileDim = 48px;

:root
  // --tile-root url('https://hydragames.neocities.org/assets/images/World_A2.png')
  // --tile-root url('')
  // --tile-dim 48px

.App
  text-align center
  font-weight 400
  border .02em solid red
  font-size 10px
  .row
    display flex
    flex-direction row
    background-color rgba(255,0,0,.1)
  .col
    display flex
    flex-direction column
    background-color rgba(0,255,0,.1)

  .cell
    outline .02em solid rgba(255,0,0,.4)
    outline-offset -1px
    // border-top 0
    // border-left 0
    box-sizing border-box

    --dim var(--tile-dim)
    width var(--dim)
    height var(--dim)

    &:hover
      outline-color lime

    &-map
      background-image var(--tile-root)
      background-position: calc(var(--ox) * var(--dim)) calc(var(--oy) * var(--dim));
      background-color var(--bg-color)
      &.grass
        --bg-color green
        --ox -1
        --oy 0
      &.road
        --bg-color brown
        --ox -1
        --oy -3
      &.forest
        --bg-color darkgreen
        --ox 4
        --oy 4

  .tabs-selector
    border .02em solid red
    margin .2em
    [data-tab]
      cursor pointer
      min-width 8em
      &:not(:last-child)

        border-right .02em solid red
      &.active
        font-weight bold
      &:hover
        background-color rgba(255,255,255,.2)
  $zoom = 1
  .map
    transform: scale($zoom);
  .tiler
    transform: scale($zoom);
    position relative
    // img.tiling-source-img
      // opacity .3
    .content
      background-color violet
      display grid
      grid-template-columns 1fr
      grid-template-rows 1fr
      grid-template-areas 'main'
      .info-tooltip
        position absolute
        top 0
        left 0
        background-color pink
      .t-grid
        background-color rgba(128, 0, 128, .1)
      .layer
        outline 1px dotted blue
        grid-area main
        &.grid-base
          // background-color rgba(255,255,255,.3)
          z-index 1
          .grid-cell
            outline .02em dotted black
            outline-offset -1px
            background-image var(--tile-root)
            background-position: calc(var(--ox) * var(--dim)) calc(var(--oy) * var(--dim));
            &:hover
              outline-color yellow

  .cell-palette
    .cell
      cursor pointer
.App-logo
  height 40vmin
  pointer-events none


@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation App-logo-spin infinite 20s linear



.App-header
  background-color #282c34
  min-height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center
  font-size calc(10px + 2vmin)
  color white


.App-link
  color #61dafb


@keyframes App-logo-spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)


